/out/production/codesample/META-INF/codesample.kotlin_module
/out/test/codesample/META-INF/codesample.kotlin_module
/.idea/misc.xml
/.idea/modules.xml
/out/production/codesample/com/dahrens/codesample/Sample.class
/out/test/codesample/com/dahrens/codesample/sample_UT.class
/.idea/uiDesigner.xml
/.idea/vcs.xml
